//using Microsoft.AspNetCore.Mvc;
//using System.ComponentModel.DataAnnotations;

//namespace WebApplication3.Controllers
//{
//    [ApiController]
//    [Route("[controller]")]
//    public class   DefaultControllerr : ControllerBase
//    {
        
//        [HttpGet("sum")]
//        public int sum(int a , int b)
//        {
//            return (a + b);
//        }
//    }
//}

using Microsoft.AspNetCore.Mvc;
using System;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using static System.Net.WebRequestMethods;

namespace WebApplication3.Controllers
{
    [ApiController]
    [Route("[controller]")]
    public class DefaultControllerr : ControllerBase
    {

        //[HttpPost("max")]
        //public int max(int[] array)
        //{
        //    return array.Length;
        //}

        //[HttpPost("max")]
        //public int max(int[] array)
        //{
        //    return array.Max();
        //}

        //[HttpPost("average")]
        //public double average(int[] array)
        //{
        //    return array.Average();
        //}


        //[HttpDelete()]
        //public string name()
        //{
        //    return "Hello World";
        //}

       
        


     


















    }
}
